* {
    box-sizing: border-box;
  }


@font-face{
    font-family:"KMR-Waldenburg-Halbfett";
    src:url("../fonts/KMR-Waldenburg-Halbfett.woff2") format("woff2"),
    url("../fonts/KMR-Waldenburg-Halbfett.woff") format("woff");
}



body {
    font-size: 100%;
    width: 100vw;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

main {

}

.dots-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    align-items: center;
    position: absolute;
}


.dot {
    position: relative;
    width: calc((100vw - 50px)/4);
    height: calc((100vw - 50px)/4);
    position: relative;
    aspect-ratio: 1/1 !important;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mix-blend-mode: screen;
}

.dot:hover {
    mix-blend-mode: multiply;

}

.dot a {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

  
.close:hover,
.close:focus {
color: rgb(255, 72, 0);
text-decoration: none;
cursor: pointer;
}

  .film-preview {
    position: absolute;
    background-color: rgba(0, 0, 0, 0) !important;
    height: 100vh;
    width: 100vw;
  }

  .vimeo {
    height: 100vh;
    padding: 10%;
  }

  iframe {
  }

  #fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  z-index: 1002;
  overflow: visible;
  height: 100vh;
  width: 100vw;
}

#boxclose {
  cursor: pointer;
  color: #fff;
  font-size: 60px;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: fixed;
  right: calc(50vw - 20px);
  top: 18px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
        
.popup-content {
  background: #fff;
  padding: 10px 40px;
  border-radius: 0;
  text-align: left;
  height: 75vh;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  aspect-ratio: 4/5;
  mix-blend-mode: screen;
}

.popup-content p{
  line-height: 125%;
  
}

.popup-content h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0px auto;
  text-align: center;
}

.popup:target {
  display: flex;
}

.pop-up-close {
  position: fixed;
  text-decoration: none;
  right: calc(50vw - 20px);
  top: 0;
  font-size: 62px;
  color:#fff;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {

    .dots-container {
    flex-wrap: wrap;
    align-content: center;
    }
    
.dot {
    position: relative;
    width: calc((100vw - 30px)/2);
    height: calc((100vw - 30px)/2);
}

.dot a {
    font-size: 3.8vw;
}

.popup-content h2 {
  font-size: 24px;
}
}

@media screen and (max-width: 650px) {

body.vp-center {
  align-items: top;
}

#light {
  margin-left: -50%;
  margin-top: -180px;
  z-index: 1002;
  overflow: visible;
  height: 100vh;
  width: 100vw;
}

#boxclose {
  right: 3px;
  top: 24px;
}

.popup-content {
  width: calc(100vw - 40px);
  height: auto;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  aspect-ratio: 4/5;
  mix-blend-mode: screen;
}
    }

    